[init]
	defaultBranch = main
[user]
	email = leoschlosser@tutamail.com
	name = Leo Schlosser
	signingkey = F7155193AF248B6A
[core]
	autocrlf = input
	editor = nvim
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
