* {
  font-family: CaskaydiaCove Nerd Font Propo;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #0f191f;
  background-color: #0f191f;
  border-bottom: 3px solid #c6d5cf;
  color: #c6d5cf;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: #0f191f;
}

window#waybar.solo {
  background-color: #0f191f;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #c6d5cf;
}

#workspaces button {
  padding: 0px 3px 0px 3px;
  background-color: transparent;
  color: #c6d5cf;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #66a5ad;
  box-shadow: inset 0 -3px #c6d5cf;
}

#workspaces button.urgent {
  background-color: #66a5ad;
}

#mode {
  background-color: #0f191f;
  border-bottom: 3px solid #c6d5cf;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#clock,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-mpd,
#mpd {
  padding: 0 12px 0 8px;
  border-bottom: 3px solid #c6d5cf;
  border-right: 1px solid #c6d5cf;
  color: #c6d5cf;
}

#custom-mpd {
  border-right: none;
}

#workspaces {
  margin: 0 4px;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#pulseaudio {
  border-left: 1px solid #c6d5cf;
}

#battery {
  padding-right: 14px;
}

#clock {
  background-color: #66a5ad;
  border-bottom: 3px solid #c6d5cf;
  border-right: none;
}
